body{
    margin-left: 25px;
}

.chat{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    display: inline-block;
}

.msg{
    background-color:darkturquoise;
    color: black;
    font-weight: bolder;
    font-family: cursive;
}

.bold{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    border-radius: 10px;
    background: #73C2FB;
    padding: 10px;
}

.edit{
    background-color: darkcyan;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 7px;
}