<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>

    <h1>Spider-Man - by Stan Lee</h1>

    <h2> <%= "By Stan Lee" %> </h2>

    <p>
        Spider-Man is a superhero appearing in American comic books published by Marvel Comics. Created by writer-editor Stan Lee and artist Steve Ditko, he first appeared in the anthology comic book Amazing Fantasy #15 in the Silver Age of Comic Books.
    </p>

    <p>
        Spider-man is a fictional superhero appearing in American comic books published by Marvel Comics and owned by Walt Dis
    </p>

    <p>
        2**4 = 
        <%= 2**4 %>
    </p>
    
    <button>Click Me!</button>
</body>
</html>