<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h2>Edit your post</h2>
    <p>Post id: <%= post.id %> </p>
    <p>Username: @<%= post.username %> </p>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" cols="30" rows="5">
            <%= post.content %>
        </textarea>
        <br /><br />
        <button>Submit</button>
    </form>
    
</body>
</html>