@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');

body{
    font-family: 'Caveat', cursive;
    background-color: lightseagreen;
}

img{
    height: 120px;
    width: 125px;
}