#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     /* flex-wrap: wrap; */
    /*align-items: baseline; */
    align-content: flex-start;
}

#orange{
    /* align-self: flex-start;
    flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 4; */
    flex: 2 3 100px;
}

#blue{
    /* flex-basis: 400px; */
    /* flex-grow: 1; */
    flex-shrink: 1;
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    text-align: center;
    color: antiquewhite;
    font-size: 1.5rem;
}