.face{
    width: 400px;
    height: 400px;
    background-color: rgb(223, 223, 36);
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: rgb(238, 27, 27);
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 260px;
    left: 100px;
}

.left-eye, .right-eye{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

.right-eye{
    left: 250px;
}